/*========统一样式===============*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {margin: 0; padding: 0; color: #333; font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
ul,ol,li,dl,dt,dd,p,span,form,input,table,tr,td{ padding:0; margin:0}
ul,ol{ list-style:none}
img{ border:none}
a{text-decoration:none;}
.margin0{margin: 0px !important;}
.margin5{margin-bottom: 5px;}
.margin10{margin-bottom: 10px;}
.margin15{margin-bottom: 15px;}
.margin20{margin-bottom: 20px;}
.margin30{margin-bottom: 30px}
.margin-r65{margin-right: 65px;}
.margin-r25{margin-right: 25px;}
.margin-r20{margin-right: 20px;}
.margin-r15{margin-right: 15px;}
.margin-l15{margin-left: 15px;}
.margin-t5{margin-top: 5px;}
.margin-t10{margin-top: 10px;}
.margin-t20{margin-top: 20px;}
.margin-t25{margin-top: 25px;}
.margin-t60{margin-top: 60px;}
.padding0{padding:0px;}
.padding2{padding:2px;}
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padleft5{padding-left: 5px;}
.padleft15{padding-left: 15px;}
.pad-none{padding-left: 0px}
.height_s{height: 80px;}
.height_m{height: 100px;}
.height_b{height: 150px;}
.height_l{height: 200px;}
.height700{height: 700px;}
.height_full{height: 100vh;}
.width800{width: 800px;}
.width900{width: 900px;}
.width300{width: 300px;}
.border1{border: 1px #BBB solid;border-radius: 2px;}
.border0{border-right:0;}
.bordernone{border:0;}
.overflowy-scroll{ overflow-y: scroll; }
.overflowx-scroll{ overflow-x: scroll; }
.control-label{font-weight:normal; font-size: 14px} 
.in-block{display: inline-block;}
.red{ color: #f00 }
.green{ color: #00b33e }
.blue{color: #5a92dd;}
.pubilc_pad{ padding:15px;}
.line{margin: 12px 0 10px; border-bottom: 1px solid #eee; padding-bottom: 9px;}

/*login*/
.Log{background: #f2f6f7; min-width: 1120px; width: 100%;}
.Log_bg{height: 400px; background: #03baa4; width: 100%; margin-top:10%;}
.login{width: 1120px; height: 400px; margin: 0 auto; position: relative;}
.logbar_top{ position: absolute; top: -40px; left: 0; background: url(../img/CRM_LOGO.jpg) no-repeat; height: 30px; width: 245px;}
.logbar_ban{ padding-left: 50px; align-content: center; }
.logbar_title{position: absolute; top: -49px; right: 80px; background:url(../img/login_bg.jpg) no-repeat top; height: 50px; width: 504px;}
.logbar_body{ position: absolute; top: -20px; right: 107px; background: #fff; width: 452px; padding:0 20px 40px; }
.log_title{ text-align:center; border-bottom: 1px solid #04baa4; padding-bottom: 10px; font-size: 22px; }
.log_callout{ background-color: #f0f1f3; border-left: 2px solid #04baa4; padding-left: 15px; height: 42px; line-height: 42px; margin-left: 20px; margin-right: 20px;}
.log_form{ margin:20px;}
.log_form .form-group .control-label{ line-height: 26px ;}
.ipt{width:100%; padding: 6px; border: 1px solid #ccc; line-height: 24px; font-size: 14px; border-radius:4px;}
.log_a{line-height: 32px;}

/*index*/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.navbar-crm{background-color:#03baa4; border-color:#05af9b; min-height: 80px;}
.logo_pad{padding:24px 0 0 15px; }
.alert1{position: absolute; top: 20px; left:30%;padding: 10px 35px;}

#user_bg{padding:0;margin:0; background: #008c7c; height: 45px; width: 45px; border-radius: 50%; display: block; color:#fff; text-align: center; line-height: 45px; margin-top: 20px;}
.sanj{ padding:0 20px 0 12px; display:block; width: 20px; height: 80px; line-height: 80px;}
.left_bar{width: 240px; height:100%; float:left;z-index: 1000;display: block; overflow: hidden; background-color: #f7f9fa; border-right: 1px solid #dcddde;}
.right_bar{width: 100%; padding-left: 275px;  margin-left: -15px; padding-top: 100px; float: left; display: inline;}
.sidebar{ position: fixed; top: 80px;}
.leftbar_list li:hover{ background-color: #e1eaee; color:#00b39e;  }
.leftbar_list .active{ background-color: #00b39e; color:#fff;  }
.iconfont{font-family:"iconfont" !important;font-style:normal; padding-right: 15px; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.list_title{ position: relative; height: 56px; line-height: 56px; cursor: pointer; font-size: 18px; padding-left: 25px;}
.active1{color:#00b39e; }
.list_title span{ position: absolute; top: 0px;right: 15px;}
.list_panel li a{ display:block;color: #666; padding-left: 50px; line-height: 40px; background-color: #fff;}
.list_panel li a:hover{color:#fff; background-color: #00b39e;text-decoration: none;}

.rightbar_top{ background-color: #fff;border:1px solid #ddd; border-radius: 4px;width: 100%; height:45px; }
.brand{ line-height: 24px; color: #ff9600; font-size: 16px; font-weight: bold; float: left; margin: 10px;padding: 0 15px; border-right: 1px solid #ddd}
.right_bar_pills li a{ color: #00b39e;display: block; height: 24px; line-height: 24px; margin:10px 15px; float: left; }
.addm{font-size: 28px; }
.addm:hover{ text-decoration: none; font-weight: bold;  color: #00b39e}
.boright{ color: #00b39e; font-size: 18px; font-weight: bold;border-left: 4px solid #00b39e; padding-left: 10px; margin: 10px 0;}
.map{width: 100%; height:100%; display: block;overflow: hidden; background-color: #fafcfc; border: 1px solid #dcddde;margin: 0px;}
.map_detail{ border-left: 1px solid #dcddde; padding: 15px;}
.map-num{margin-top: 20px;}
.big{font-size: 24px; font-weight: bold;}
.wait1{min-height: 300px;}
.panel-heading2{background-color: #00b39e; color: #fff; border-bottom:1px solid #ddd; border-top-left-radius: 4px; border-top-right-radius: 4px;padding: 10px 15px; font-size: 16px;}

.store_title{ padding:10px 18px; background-color: #00b39e; color:#fff;}
.btn-white{ background-color: #fff; color: #00b39e;}
.btn-white:hover{ background-color: #ebf1f4; color: #00b39e;}
.store_title .pull-right .iconfont{ padding-right:0px; }
.store_form{ height: 100%;}
.store_form table tr th,.store_form table tr td{ text-align: center; }
.store_form table tr td.text-left{ text-align:left; }
.store_form table tr td{vertical-align: middle;}
.tag{ color:#fff; padding: 5px 7px; border-radius:20px; font-size: 12px; overflow: hidden; display: inline-block;}
.bg_primary{ background-color:#00b39e; }
.bg_green{ background-color: #77D03C; }
.bg_brown{ background-color: #c79c71; }
.bg_yellow{ background-color: #FFA424; }
.bg_blue{ background-color: #50C8C8; }
.bg_red{ background-color: #DF4665; }
.bg_warn{ background: #f00; }
.bg_pink{ background-color: #EE7698; }
.bg_purple{ background-color: #DE59B1; }
.bg_gray{ background-color: #CCCCCC; }
.bg_black{ background-color: rgba(0,0,0,.7); }
.bg_black5{ background-color: rgba(0,0,0,.5); }
.bg_black1{ background-color: rgba(0,0,0,.1); }
.btn-add1{ width:100px; margin-bottom: 8px; background-color: #35a8e3; color: #fff}
.btn-add1:hover{background-color: #40b3ee; color: #fff}
.btn-add1:active,.btn-add1 .active{ background-color: #35a8e3; color: #fff}
.btn-add1:focus,.btn-add1 .focus {color: #fff;background-color: #2d9dd7;}
.btn-info.disabled:hover{background-color: #ccc; color: #fff; }
.store_tips{ font-size: 12px; padding-bottom: 5px;}

.warn_badge{top:-5px;right:5px;}
.remind-tabs{border-top: 1px solid #ddd;}
.remind-tabs>li>a{border:0;margin:0;}
.remind-tabs>li.active>a, .remind-tabs>li.active>a:focus, .remind-tabs>li.active>a:hover {margin-right:0;color: #03BAA4; font-weight: bold; cursor: default; background-color: #fff;border: 0; border-bottom: 2px solid #03BAA4; } 
.remind-tabs>li{width: 33%; text-align: center;border-right: 1px solid #ddd;margin-bottom: -1px}
.remind-tabs>li.border0{border:0;}
.panel-body {padding:20px 0;}

.btn-equalwidth{width:6rem;}
.btn-equalwidth2{width:12rem;}
.text_orange{color: #FFA424;}
.text_white{color: #FFF;}
.text_green{color: #77D03C;}
.text_blue{color: #50C8C8;}
.text_red{color: #f00;}
.text_purple{color:#DE59B1;}
.text_gray{color:#555;}
.text_bold{font-weight: bold;}
.text_small{font-size: 0.9rem;}
.text_xs{font-size: 0.7rem;}
.text_big{font-size: 1.1rem;}
.text_large{font-size: 1.5rem;}
.text_xl{font-size: 2rem;}
.text_xll{font-size: 2.5rem;}
.lineheight2{line-height: 2rem;}
.relative{position: relative;}
.absolute{position: absolute;}

.link:link{text-decoration: underline; color: #4BBCFA;}
.link:visited{text-decoration: underline; color: #4BBCFA;}
.link:hover{text-decoration: underline; color:#90D8FC;}
.link:active{text-decoration: underline; color:#90D8FC;}

/*tooltip*/
.tooltip-inner{text-align: left;white-space: nowrap;}

/*the label of prducts already buied*/
.buied_label{display: inline-block; background-color:#AAA; text-align: center; margin-right: 10px; color: #FFF; padding: 5px;}
.nobuied_label{display: inline-block; text-align: center; width: 60px; margin-right: 10px;}
/*the label of competitor's online */
.competitor_online{display: inline-block; background-color:#AAA; text-align: center; font-size: 0.9rem; color: #FFF; padding: 2px;}
